Options -MultiViews
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /api/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^$ api.php?r=/ [L,QSA]
  RewriteRule ^(.+)$ api.php?r=/$1 [L,QSA]
</IfModule>
